<a href="https://colab.research.google.com/github/HRIDYANS/Test-project/blob/main/Day8_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import library

In [ ]:
import pandas as pd
# we are importing library named pandas
#pandas is used to read, manipulate data

Reading the file

In [ ]:
#getting the file path
filepath="/content/auto-mpg.csv"
#reading the file using the path to the file
#and storing it as 'df_auto'
df_auto = pd.read_csv(filepath)

print(df_auto)

      mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                   car name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]

In [ ]:
df_auto.shape

(398, 9)

In [ ]:
df_auto.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [ ]:
df_auto.mpg

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [ ]:
df_auto['acceleration']

0      12.0
1      11.5
2      11.0
3      12.0
4      10.5
       ...
393    15.6
394    24.6
395    11.6
396    18.6
397    19.4
Name: acceleration, Length: 398, dtype: float64

In [ ]:
df_auto[['acceleration','displacement']]

     acceleration  displacement
0            12.0         307.0
1            11.5         350.0
2            11.0         318.0
3            12.0         304.0
4            10.5         302.0
..            ...           ...
393          15.6         140.0
394          24.6          97.0
395          11.6         135.0
396          18.6         120.0
397          19.4         119.0

[398 rows x 2 columns]

In [ ]:
df_auto.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [ ]:
df_auto.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [ ]:
df_auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [ ]:
df_auto.isnull().sum().sum()

np.int64(0)

In [ ]:
df_auto_mpg_edited = pd.read_csv("/content/auto-mpg-edited.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/content/auto-mpg-edited.csv'

In [ ]:
df_auto['model year'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82])

In [ ]:
df_auto['weight'].unique()

array([3504, 3693, 3436, 3433, 3449, 4341, 4354, 4312, 4425, 3850, 3563,
       3609, 3761, 3086, 2372, 2833, 2774, 2587, 2130, 1835, 2672, 2430,
       2375, 2234, 2648, 4615, 4376, 4382, 4732, 2264, 2228, 2046, 2634,
       3439, 3329, 3302, 3288, 4209, 4464, 4154, 4096, 4955, 4746, 5140,
       2962, 2408, 3282, 3139, 2220, 2123, 2074, 2065, 1773, 1613, 1834,
       1955, 2278, 2126, 2254, 2226, 4274, 4385, 4135, 4129, 3672, 4633,
       4502, 4456, 4422, 2330, 3892, 4098, 4294, 4077, 2933, 2511, 2979,
       2189, 2395, 2288, 2506, 2164, 2100, 4100, 3988, 4042, 3777, 4952,
       4363, 4237, 4735, 4951, 3821, 3121, 3278, 2945, 3021, 2904, 1950,
       4997, 4906, 4654, 4499, 2789, 2279, 2401, 2379, 2124, 2310, 2472,
       2265, 4082, 4278, 1867, 2158, 2582, 2868, 3399, 2660, 2807, 3664,
       3102, 2875, 2901, 3336, 2451, 1836, 2542, 3781, 3632, 3613, 4141,
       4699, 4457, 4638, 4257, 2219, 1963, 2300, 1649, 2003, 2125, 2108,
       2246, 2489, 2391, 2000, 3264, 3459, 3432, 3158, 4668, 4440, 4498,
       4657, 3907, 3897, 3730, 3785, 3039, 3221, 3169, 2171, 2639, 2914,
       2592, 2702, 2223, 2545, 2984, 1937, 3211, 2694, 2957, 2671, 1795,
       2464, 2572, 2255, 2202, 4215, 4190, 3962, 3233, 3353, 3012, 3085,
       2035, 3651, 3574, 3645, 3193, 1825, 1990, 2155, 2565, 3150, 3940,
       3270, 2930, 3820, 4380, 4055, 3870, 3755, 2045, 1945, 3880, 4060,
       4140, 4295, 3520, 3425, 3630, 3525, 4220, 4165, 4325, 4335, 1940,
       2740, 2755, 2051, 2075, 1985, 2190, 2815, 2600, 2720, 1800, 2070,
       3365, 3735, 3570, 3535, 3155, 2965, 3430, 3210, 3380, 3070, 3620,
       3410, 3445, 3205, 4080, 2560, 2230, 2515, 2745, 2855, 2405, 2830,
       3140, 2795, 2135, 3245, 2990, 2890, 3265, 3360, 3840, 3725, 3955,
       3830, 4360, 4054, 3605, 1925, 1975, 1915, 2670, 3530, 3900, 3190,
       3420, 2200, 2150, 2020, 2595, 2700, 2556, 2144, 1968, 2120, 2019,
       2678, 2870, 3003, 3381, 2188, 2711, 2434, 2110, 2800, 2085, 2335,
       2950, 3250, 1850, 2145, 1845, 2910, 2420, 2500, 2905, 2290, 2490,
       2635, 2620, 2725, 2385, 1755, 1875, 1760, 2050, 2215, 2380, 2320,
       2210, 2350, 2615, 3230, 3160, 2900, 3415, 3060, 3465, 2605, 2640,
       2575, 2525, 2735, 2865, 3035, 1980, 2025, 1970, 2160, 2205, 2245,
       1965, 1995, 3015, 2585, 2835, 2665, 2370, 2790, 2295, 2625])

In [ ]:
df_auto['weight'].nunique()

351

In [ ]:
df_auto['model year'].nunique()

13

In [ ]:
df_auto['model year'].value_counts()

model year
73    40
78    36
76    34
82    31
75    30
80    29
79    29
81    29
70    29
71    28
72    28
77    28
74    27
Name: count, dtype: int64

In [ ]:
df_auto['origin'].value_counts()

origin
1    249
3     79
2     70
Name: count, dtype: int64

In [ ]:
df_auto.groupby('origin')['mpg'].mean()

origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

In [ ]:
df_auto.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [ ]:
df_auto.groupby('origin')[['mpg','weight']].mean()

              mpg       weight
origin
1       20.083534  3361.931727
2       27.891429  2423.300000
3       30.450633  2221.227848

In [ ]:
df_auto.loc[:,'mpg']

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [ ]:
df_auto.loc[0:10,['mpg','weight']]

     mpg  weight
0   18.0    3504
1   15.0    3693
2   18.0    3436
3   16.0    3433
4   17.0    3449
5   15.0    4341
6   14.0    4354
7   14.0    4312
8   14.0    4425
9   15.0    3850
10  15.0    3563

In [ ]:
df_auto['horsepower'].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [ ]:
df_auto['horsepower']
pd.to_numeric(df_auto['horsepower'],errors='coerce')

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

In [ ]:

pd.to_numeric(df_auto['horsepower'],errors='coerce')
df_auto['horsepower']

1
2
3
"?"

'?'

In [ ]:
#check for non number and foreces the to be
#converted to number values
#errors=coerce
pd.to_numeric(df_auto['horsepower'],errors='coerce')
df_auto['horsepower']

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

In [ ]:
pd.to_numeric(df_auto['horsepower'],errors='coerce')
df_auto['horsepower'].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [ ]:
df_auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [ ]:
df_auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [ ]:
mean_hp = df_auto.horsepower.mean()
mean_hp

TypeError: Could not convert string '13016515015014019822021522519017016015022595959785884687909511390215200210193889095?1001051008810016517515315018017017511072100888690707665696070958054908616517515015315020815516019097150130140150112768769869297808817515014513715019815015815021522517510510010088954615016717018010088729490851079014523049759111215011012218095?100100678065751001101051401501501401508367785261757575979367951057272170145150148110105110951101101297583100789671979770909588981155386819279831401501201521001058190526070531007811095717075721021508810812018014513015068805896701451101451301101051009818017019014978887589638367789711011048665270601101401391059585881009010585110120145165139140689597759510585971031251151337168115858890110130129138135155142125150716580807712571907070656990115115907660706590889090789075927565105654848676767?676213210088?72848492110845864606765626863656574?7575100748076116120110105888588888885849092?746868637088757067676711085921129684908652847982' to numeric

In [ ]:
df_auto['horsepower'].fillna(mean_hp)
df_auto['horsepower'].fillna(mean_hp, inplace=True)

NameError: name 'mean_hp' is not defined

In [ ]:
df_auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [ ]:
df_auto['horsepower']=df_auto['horsepower'].fillna(mean_hp)
df_auto['horsepower'].fillna(mean_hp), inplace=True

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-1325044662.py, line 2)

In [ ]:
df_auto['proper model year'] =df_auto['model year']+1900

In [ ]:
df_auto

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,proper model year
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,1970
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,1970
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,1970
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,1970
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,1970
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,1982
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,1982
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,1982
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,1982
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,1982

In [ ]:
#remove the column 'model year'
df_auto_dummy = df_auto.drop('model year',axis=1, inplace=True)

KeyError: "['model year'] not found in axis"

In [ ]:
df_auto_dummy.head(2)

NameError: name 'df_auto_dummy' is not defined